<!DOCTYPE html>
<html>
{% load static %}
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Times New Roman";
    letter-spacing: 2px;
    color:white;
    font-weight:1000;
}
p{
    color:white;
    font-weight:1000;
}
</style>


<body background= "{% static "finalproject/background_image2.jpg" %}">
<div align="center">	
<h2>Login to see recommended restaurants and recipes!</h2>
	<form method="post" style=>
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
	</form>
</div>
</body>
</html>